@font-face {
  font-family: 'Mouse Memoirs';
  src: url('../fonts/MouseMemoirs-Regular.ttf') format('truetype');
}
/* ==================== CSS RESET ==================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
  font-size: 62, 5%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ==================== CSS RESET ==================== */

:root {
  /* colors */
  --dark-navy: rgb(38, 22, 118);
  --blue: rgb(36, 98, 255);
  --white: rgb(255, 255, 255);

  /* typography */
  --text-heading-xl: 13.6rem;
  --text-heading-l: 8.8rem;
  --text-heading-m: 4.8rem;
  --text-heading-s: 3.2rem;

  --text-body: 2 6rem;

  /* background image */
  --background-image: url('../images/bg-main.png');
}

/*  */
body {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100%;
  width: 100%;
  font-family: 'Mouse Memoirs', Arial, sans-serif;
  line-height: 1.6;
  vertical-align: baseline;
  overflow-x: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ======================== */
/* MENU  */
/* ======================== */

.menu-modal {
  /* border: 1px solid white; */
  width: 324px;
  height: 481;
  border-radius: 48px;

  background: linear-gradient(180deg, #344aba, rgba(0, 20, 121, 0.83));
  box-shadow: inset 0 0.6rem 0 0.2rem #3c74ff, 0 1rem 0 0.4rem #140e66;
  /* inner and outer shadow */
  /* horizontal, vertical, no blur, some spread, then color */
}
.title-image {
  width: 263px;
  height: 130px;
  margin: 0 auto;

  position: relative;
  top: -60px;
}
.play-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: none;
  margin: 0 auto;

  background: linear-gradient(180deg, #fe71fe 16.42%, #7199ff);
  /* vertical gradient that transitions at 16,5% to blueish */
  box-shadow: inset 0 -0.8rem 0 0.3rem #9d2df5, 0 0.4rem 0 0.3rem #243041;
  /* shift coordinates, no blur, spread, color */

  &:hover {
    background: linear-gradient(180deg, #ff8aff 16.42%, #83a6fe);
  }
  &:active {
    .play-image {
      transform: scale(1.1);
    }
  }
}
.play-image {
  width: 62px;
  height: 60px;

  transition: transform 1 ease;
}
.tutorial-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 56px 31px 64px;
  padding: 1.2rem;

  width: 260px;
  height: 62px;
  border-radius: 40px;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;

  font-size: var(--text-heading-s);
  font-size: 3rem;
  color: var(--white);
  background: #2463ff;
  box-shadow: inset 0rem 0.35rem 0 0.15rem #3c74ff, 0 0.2rem 0 0.4rem #140e66;

  &:hover {
    background-color: #83a5face;
  }
}
