@font-face {
  font-family: 'Mouse Memoirs';
  src: url('../fonts/MouseMemoirs-Regular.ttf') format('truetype');
}
/* ==================== CSS RESET ==================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ==================== CSS RESET ==================== */

:root {
  /* colors */
  --dark-navy: rgb(38, 22, 118);
  --blue: rgb(36, 98, 255);
  --white: rgb(255, 255, 255);

  /* typography */
  --text-heading-xl: 13.6rem;
  --text-heading-l: 8.8rem;
  --text-heading-m: 4.8rem;
  --text-heading-s: 3.2rem;

  --text-body: 2.6rem;

  /* background image */
  --background-image: url('../images/bg-main.png');
}

/*  */
body {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100%;
  width: 100%;
  font-family: 'Mouse Memoirs', Arial, sans-serif;
  line-height: 1.6;
  vertical-align: baseline;
  overflow-x: hidden;
  overflow-y: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ======================== */
/* HIDDEN and VISIBLE classes for quick use
/* ======================== */
.visible {
  display: block;
}
.hidden {
  display: none;
}

/* ======================== */
/* OVERLAY  */
/* ======================== */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: none;
  opacity: 0.75;
  z-index: 1;

  padding: 32px 25px 60px;
  background: linear-gradient(#1a043a, #151278 70%, #2b1677);
}

/* ======================== */
/* MENU  */
/* ======================== */

.modal-menu-container {
  width: 324px;
  height: 481px;
  border-radius: 48px;

  background: linear-gradient(180deg, #344aba, rgba(0, 20, 121, 0.83));
  box-shadow: inset 0 0.6rem 0 0.2rem #3c74ff, 0 1rem 0 0.4rem #140e66;
  /* inner and outer shadow */
  /* horizontal, vertical, no blur, some spread, then color */
}
.menu-title-image {
  width: 263px;
  height: 130px;
  margin: 0 auto;

  position: relative;
  top: -60px;
}
.menu-play-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: none;
  margin: 0 auto;

  background: linear-gradient(180deg, #fe71fe 16.42%, #7199ff);
  /* vertical gradient that transitions at 16,5% to blueish */
  box-shadow: inset 0 -0.8rem 0 0.3rem #9d2df5, 0 0.4rem 0 0.3rem #243041;
  /* shift coordinates, no blur, spread, color */

  &:hover {
    background: linear-gradient(180deg, #ff8aff 16.42%, #83a6fe);
  }
  &:active {
    background: linear-gradient(180deg, #ff8aff 16.42%, #83a6fe);

    .menu-play-image {
      transform: scale(1.1);
    }
  }
}
.menu-play-image {
  width: 62px;
  height: 60px;

  transition: transform 1 ease;
}
.general-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 56px 31px 64px;
  padding: 1.2rem;

  width: 260px;
  height: 62px;
  border-radius: 40px;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;

  font-size: var(--text-heading-s);
  font-size: 3rem;
  color: var(--white);
  background: #2463ff;
  box-shadow: inset 0rem 0.35rem 0 0.15rem #3c74ff, 0 0.2rem 0 0.4rem #140e66;

  &:active {
    background-color: #83a5face;
    font-size: 3.3rem;
    transition: font-size 1 ease;
  }

  &:hover {
    background-color: #83a5face;
  }
}

/* ======================== */
/* TUTORIAL CONTAINER  */
/* ======================== */

.tutorial-container {
  width: 90%;
  height: 90%;
  /* border: 1px solid white; */

  z-index: 2;
  /* make sure z-index is higher than overlay */

  /* having display flex overrides the JS func for display: none */
  /* organize things w margins maybe */
}
.upper-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 40px;

  /* border: 1px solid white; */
}
.special-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;

  background: linear-gradient(180deg, #fe71fe, #db80ff, #be99fd, #9294ff, #94b3ff);
  box-shadow: inset 0 -0.5rem 0 -0.1rem rgba(157, 45, 245, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    background: linear-gradient(180deg, #fc8cfc, #db80ff, #b68cff, #9395f9, #83a4f8);
  }

  &:hover {
    background: linear-gradient(180deg, #fc8cfc, #db80ff, #b68cff, #9395f9, #83a4f8);
  }
}

.upper-section .upper-section-title-img {
  display: inline-block;
  width: 186px;
  height: 58px;
}
.lower-section {
  width: 100%;
  height: 100%;
}

.tutorial-tips-container {
  /* border: 1px solid white; */

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tip-container {
  background-color: var(--white);
  border-radius: 20px;
  padding: 20px;
}
.tip-number {
  color: var(--blue);
  font-size: 24px;

  display: inline-block;
  margin-right: 16px;
}
.tip-title {
  display: inline-block;

  color: var(--dark-navy);
  font-size: 28px;
}
.tip-text {
  font-size: 16px;
  color: #887dc0;
  text-align: justify;
  letter-spacing: 1px;
}

/* ======================== */
/* CATEGORIES SECTION  */
/* ======================== */
.categories-container {
  width: 90%;
  height: 90%;
  z-index: 2;

  /* border: 1px dashed white; */
  overflow: hidden;
}
.categories-container .upper-section .upper-section-title-img {
  width: 245px;
  height: 60px;
}

.categories-container .lower-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.general-button.choose-category-button {
  width: 100%;

  margin: 0;
  border-radius: 20px;
  padding: 24px 120px;
  margin-bottom: 20px;
}

/* ======================== */
/* GAME SECTION  */
/* ======================== */
.game-section-container {
  width: 90%;
  height: 90%;
  z-index: 2;

  border: 1px dashed white;
  overflow: hidden;
}
.upper-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.burger-menu-container {
  display: flex;
  align-items: center;
}
.burger-menu-container .special-button {
  margin-right: 20px;
}
.burger-menu-container .burger-menu-title {
  display: inline-block;
  color: white;
  font-size: 40px;
}
.lives-container {
  display: flex;
  align-items: center;
}
.lives-bar {
  width: 70px;
  height: 10px;
  background-color: palevioletred;
  border-radius: 4px;
}

.lives-container img {
  margin: 0 10px;
}
