/* ==================== CSS RESET ==================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
  font-size: 10px;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  vertical-align: baseline;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ==================== CSS RESET ==================== */

/* ==================== CSS RESET ==================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  vertical-align: baseline;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ==================== CSS RESET ==================== */

:root {
  /* colors */
  --dark-navy: rgb(38, 22, 118);
  --blue: rgb(36, 98, 255);
  --white: rgb(255, 255, 255);

  /* typography */
  --text-heading-xl: 13.6rem;
  --text-heading-l: 8.8rem;
  --text-heading-m: 4.8rem;
  --text-heading-s: 3.2rem;

  --text-body: 2 6rem;

  /* background image */
  --background-image: url('../images/bg-main.png');
}

/*  */
body {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
